@import url("./reset.css");
@import url("./global.css");

/*configuração do header*/
header{
    width: 100vw;
    height: 15vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: auto;
    max-height: 80%;
}
.header-text{ /*texto do cabeçalho*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


strong, h1, h2{
    font-weight: normal;
}

/*configuração do formulário*/
form{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: large;
}

/*informações do aluno*/
form .aluno-info, .observacoes-section, .assinaturas-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.observacoes-section {
    flex-direction: column !important;
}
form .aluno-info *{
    margin: 0.5rem;
}

form .aluno-info input{
    width: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
}

form .aluno-info .nome{
    width: 50%;
}

form .aluno-info .matricula{
    width: 30%;
}

form .aluno-info .curso{
    width: 25%;
}

/* Estilização do formulário */
table {
    border-collapse: collapse;
    margin-top: 2rem;
    width: 100%;
}
th, td {
    border: 0.1rem solid #ddd;
    padding: 0.8rem;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    font-weight: normal;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
select, input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
}
select:focus, input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
}
.horarios-title {
    font-size: 1.5em;
    margin: 2rem 0 1rem 0;
    color: #333;
    font-weight: normal;
    text-align: center;
}
.add-row-btn {
    display: block;
    padding: 1rem 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}
.add-row-btn:hover {
    background-color: #45a049;
}

.periodoCell{
    width: 5vw;
}

.materiaCell, .professorCell {
    width: 25vw;
}

.diaCell, .situacaoCell {
    width: 10vw;
}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.export-pdf-btn {
    display: block;
    padding: 1rem 2rem;
    background-color:  #0969da;
    color: white;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
}
.export-pdf-btn:hover {
    background-color: #0754b3; 
}

button {
    margin: 1rem;
}

textarea {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
}

.observacoes-section  *{
    margin: 0.5rem 0;
    width: 100% !important;
}